.money-page{
  width: 100vw;
  padding: 5vh 15vw;
  background-image: url("fuirma-header02.png");
  text-align: center;
}

.money-page-object{
  display: flex;
  justify-content: center;
}

.money{
  margin: 30px;
}

.goods{
  margin: 30px;
}

.money-send-btn {
  display       : inline-block;
  border-radius : 5%; 
  font-size     : 13pt;
  text-align    : center;
  cursor        : pointer;
  padding       : 12px 30px;
  background    : #cccccc; 
  color         : black;
  line-height   : 1em;
  transition    : .3s;
  box-shadow    : 6px 6px 1px #666666;
  border        : 2px solid #cccccc;
}
.money-send-btn:hover {
  box-shadow    : none;
  color         : lightslategray;
  background    : white;
}