.contents{
  background-color:lightsteelblue;
  height: 400px;
  align-items: center;
}

.content{
  text-align: center;
  padding-top: 30px;
}

.title-field{
  padding: 6px;
  border-radius: 4px;
  background-color: whitesmoke;
  font-size: 16px;
  border: gray 2px solid;
  resize: none;
}

.textarea{
  padding: 6px;
  border-radius: 4px;
  background-color: whitesmoke;
  font-size: 16px;
  border: gray 2px solid;
  resize: none;
}

.image{
  padding: 10 0px;
}

.send-btn{
  margin-top: 10px;
  display       : inline-block;
  border-radius : 5%; 
  font-size     : 13pt;
  text-align    : center;
  cursor        : pointer;
  padding       : 12px 30px;
  background    : #cccccc; 
  color         : black;
  line-height   : 1em;
  transition    : .3s;
  box-shadow    : 6px 6px 1px #666666;
  border        : 2px solid #cccccc;
}