.goal-page{
  width: auto;
  padding: 5vh 15vw;
  text-align: center;
  background-color: whitesmoke;
}

.goal-page-object{
  display: flex;
  justify-content: center;
}

.goal-goods{
  margin: 30px;
}

.goal-goods-field{
  padding: 6px;
  border-radius: 4px;
  background-color: whitesmoke;
  font-size: 16px;
  border: lightsteelblue 2px solid;
  resize: none;
}

.goal-money{
  margin: 30px;
}

.goal-send-btn {
  display       : inline-block;
  border-radius : 5%; 
  font-size     : 13pt;
  text-align    : center;
  cursor        : pointer;
  padding       : 12px 30px;
  background    : #cccccc; 
  color         : black;
  line-height   : 1em;
  transition    : .3s;
  box-shadow    : 6px 6px 1px #666666;
  border        : 2px solid lightsteelblue;
}
.money-send-btn:hover {
  box-shadow    : none;
  color         : lightslategray;
  background    : white;
}