

<%= form_with url: memories_path, local: true do |f| %>
<div class = "money-page">
  <div class = "money-page-object">
    <div class = "money ">
      <%= f.text_area :money, class:"money-field", id:"money-name", placeholder:"つもり貯金額" %>
    </div>
    <div class = "goods ">
      <%= f.text_area :goods_name, class:"money-field", id:"money-name", placeholder:"つもりアイテム" %>
    </div>
  </div>
  <div class = "money-page-send">
    <%= f.submit "貯金", class: "money-send-btn" %>
  </div>
</div>
<% end %>