<div class = "create-goal">
  <p class = "success">登録完了しました。</p>
  <div class = "success-page">
    <div class = "redirect">
      <%= link_to "トップページに戻る", root_path %>
    </div>
    <div class = "register">
      <%= link_to "もう一つ目標を登録する", new_goal_path %>